{% if user.is_authenticated %}
    <li><a class="navbar-brand">{{ user_fullname }}</a></li>
    <li><a href="/logout/">Wyloguj</a></li>
{% else %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Rejestracja<b class="caret"></b></a>
        <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
            <li>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form" role="form" method="post" action="/signup/" accept-charset="UTF-8"
                              id="register-nav" onsubmit="return validate_signup();">{% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputUsername">Nazwa użytkownika</label>
                                <input type="text" name="username" class="form-control" id="exampleInputUsername"
                                       placeholder="Nazwa użytkownika" required>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputPassword">Hasło</label>
                                <input type="password" name="password" class="form-control" id="exampleInputPassword"
                                       placeholder="Hasło" required>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputPassword2">Powtórz hasło</label>
                                <input type="password" class="form-control" id="exampleInputPassword2"
                                       placeholder="Powtórz hasło" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block">Zarejestruj</button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li class="divider"></li>
            <li>
                <input class="btn btn-primary btn-block" type="button" id="sign-in-facebook"
                       value="Zarejestruj się przez Facebooka" onclick="FB_login();">
            </li>
        </ul>
    </li>


    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" id="login-dropdown">Logowanie<b class="caret"></b></a>
        <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
            <li>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form" role="form" method="post" action="/signin/" accept-charset="UTF-8"
                              id="login-nav">{% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputEmail2">Nazwa użytkownika</label>
                                <input type="text" name="username" class="form-control" id="exampleInputLoginUserName"
                                       placeholder="Nazwa użytkownika" required>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputPassword2">Hasło</label>
                                <input type="password" name="password" class="form-control"
                                       id="exampleInputLoginPassword" placeholder="Hasło" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block">Zaloguj</button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            <li class="divider"></li>
            <li>
                <input class="btn btn-primary btn-block" type="button" id="sign-in-facebook"
                       value="Zaloguj się przez Facebooka" onclick="FB_login();">
            </li>
        </ul>
    </li>
{% endif %}