.new {
    margin-top: 10px;
}

#form {
    display: none;
}

textarea {
    max-width: 100%;
}

.new-joke {
    display: none;
}

.btn-voting {
    height: 21px;
    width: 21px;
    padding: 0;
}

.btn-voting > span {
    left: 1px;
    margin-right: 1px;
}

.btn-voting > .glyphicon-minus {
    left: auto;
}

#login-to-add {
    margin-top: 10px;
    margin-bottom: auto;
}