html, body {
    height: 100%;
}

.wrap {
    min-height: 100%;
}

.container-fluid {
    overflow: auto;
    padding-bottom: 80px;
}

.hash-link {
    color: #555;
}

.hash-link:hover {
    color: #555;
}

.img-joke-source {
    display: none;
}

.page-header {
    margin-top: 0;
}

#footer {
    background-color: #f5f5f5;
    padding: 15px;
    margin: -80px 0 auto;
    font-size: 0.8em;
    height: 80px;
}

@media (min-width: 768px) {
    .container-fluid {
        max-width: 768px;
    }
}

a.delete-joke, a.delete-joke:hover {
    color: inherit;
}

#load-new-random {
    margin-bottom: 20px;
}