{% extends "multiple.html" %}

{% block head %}{% load static %}
    <link href="{% static "css/autorski.css" %}" rel="stylesheet">
    <title>Autorskie suchary</title>
    <meta name="description" content="Autorskie suchary dodane przez odwiedzających stronę">
{% endblock %}

{% block autorskie %} class="active"{% endblock %}

{% block header-top %}
    <div class="text-center">
        <h2>Myślisz, że jesteś zabany? Dodaj swój suchar!</h2>
    </div>
{% endblock %}

{% block jokes %}
    <div id="fb-root"></div>
    <!-- Jokes -->
    <div class="new-joke panel panel-default">
        <div class="panel-heading">
            <span class="badge" id="votes"><b></b></span>&nbsp;<span id="name"></span>&nbsp;
            <small><a class="hash-link" id="date"></a></small>
        </div>

        <div class="panel-body">
            <p id="body"></p>
        </div>
    </div>
    {% for joke in jokes %}
        <div id="joke-{{ joke.pk }}" class="panel panel-default">
            <div class="panel-heading">
                <span class="badge"><b>{{ joke.votes }}</b></span>&nbsp;{{ joke.author }}&nbsp;
                <small><a href="/autorskie/{{ joke.pk }}" class="hash-link">{{ joke.date }}</a></small>
                {% block voting %}{% endblock %}
            </div>

            <div class="panel-body">
                <p>{{ joke.body|linebreaksbr }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascript2 %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "js/autorski.js" %}"></script>
{% endblock %}