{% extends "base.html" %}

{% block head %}
    <title>Autorski suchar</title>
    <meta name="description" content="Autorski suchar dodany przez użytkownika">
{% endblock %}

{% block autorskie %} class="active"{% endblock %}

{% block jokes %}
    <!-- Joke -->
    <div id="joke-{{ joke.pk }}" class="panel panel-default">
        <div class="panel-heading">
            <span class="badge"><b>{{ joke.votes }}</b></span>&nbsp;{{ joke.author }}&nbsp;
            <small><a href="/autorski/{{ joke.pk }}" class="hash-link">{{ joke.date }}</a></small>
        </div>

        <div class="panel-body">
            <p>{{ joke.body|linebreaksbr }}</p>
        </div>
    </div>
{% endblock %}