{% extends "jokes_base.html" %}

{% block joke_header %}
{% load obcy_extras %}
<span id="votes">{{ joke.votes }}</span> {{ joke.date }} <span id="slug_link"><a href="obcy/{{ joke.slug }}">#</a></span> <span id="original_link"><a href="{{ joke.url }}">źródło<img class="src_image" src="{{ MEDIA_URL }}images/{{ joke.site }}_small.{{ site_image_extension|lookup:joke.site }}" style="display:inline;vertical-align:bottom;margin-left:5px"></a></span>{{ site_image_extension.site }}
{% endblock %}

{% block tail %}
<script type="text/javascript">
    function scale_images(){
        var height = $(".joke_header").height();
        $(".src_image").css({'height': height});
    }
    $(window).bind( 'orientationchange', function(e){
        scale_images();
    });
    $( document ).ready(function() {
        scale_images();
    });
</script>
{% endblock %}