{% extends "base.html" %}

{% block header %}
    <div class="page-header">
        {% block header-top %}{% endblock %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissable alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}

        {% if random %}
            {% include "sorting_random.html" %}
        {% elif site == 'all' %}
            {% include "sorting_obcy.html" %}
        {% else %}
            {% include "sorting.html" %}
        {% endif %}

        {% block extraform %}{% endblock %}
    </div>
{% endblock %}

{% block javascript %} {% load staticfiles %}
    <script type="text/javascript" src="{% static "js/preserveGET.js" %}"></script>
    {% block javascript2 %}{% endblock %}
{% endblock %}
