{% extends "base.html" %}

{% block header %}
<div class="page-header">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissable alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message|safe }}
    </div>
    {% endfor %}
    {% endif %}
    <!-- Sorting -->
    <h3 class="text-center">Sortowanie</h3>
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <button type="button" class="btn btn-default" onclick="sort_by('date')">
                <span class="glyphicon glyphicon-calendar"></span> Data
            </button>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default" onclick="sort_by('votes')">
                <span class="glyphicon glyphicon-plus"></span> Plusy
            </button>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default" onclick="reverse()">
                <span class="glyphicon glyphicon-sort"></span> Odwróć
            </button>
        </div>
    </div>
    {% block extraform %}{% endblock %}
</div>
{% endblock %}

{% block javascript %} {% load staticfiles %}
<script type="text/javascript" src="{% static "js/preserveGET.js" %}"></script>
{% block javascript2 %}{% endblock %}
{% endblock %}
