{% extends "base.html" %}

{% block head %}
    <title>Suchar z internetu</title>
    <meta name="description" content="Automatycznie zebrany suchar z internetu">
{% endblock %}

{% block zajumane %} class="active"{% endblock %}

{% load obcy_joke %}
{% block jokes %}
    <!-- Joke -->
    {% display_joke joke %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        function scale_images() {
            var height = $(".panel-heading").height();
            $(".img-joke-source").css({'height': height}).show();
        }
        $(window).bind('orientationchange', function () {
            scale_images();
        });
        $(document).ready(function () {
            scale_images();
        });
    </script>
    {% load obcy_admin %}
    {% mod_joke_js %}
{% endblock %}