{% extends "base.html" %}

{% block head %}
<title>Suchar z internetu</title>
<meta name="description" content="Automatycznie zebrany suchar z internetu">
{% endblock %}

{% block zajumane %}
 class="active"
{% endblock %}

{% load obcy_extras %}
{% block jokes %}
<!-- Joke -->
<div id="joke-{{ joke.pk }}" class="panel panel-default">
    <div class="panel-heading">
        <span class="badge"><b>{{ joke.votes }}</b></span>&nbsp;
        <small><a href="/obcy/{{ joke.key }}" class="hash-link">{{ joke.date }}</a></small>
        <img class="pull-right img-responsive img-joke-source"
             src="{{ MEDIA_URL }}images/{{ joke.site }}_small.{{ site_image_extension }}">
    </div>

    <div class="panel-body">
        <p>{{ joke.body|linebreaksbr }}</p>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    function scale_images(){
        var height = $(".panel-heading").height();
        $(".img-joke-source").css({'height': height}).show();
    }
    $(window).bind( 'orientationchange', function(e){
        scale_images();
    });
    $( document ).ready(function() {
        scale_images();
    });
</script>
{% endblock %}