{% extends "multiple.html" %}

{% block head %}
    <title>Najlepsze suchary z internetu</title>
    <meta name="description" content="Automatycznie zbierane najlepsze suchary z wielu źródeł">
{% endblock %}

{% block zajumane %} class="active"{% endblock %}

{% load obcy_joke %}
{% block jokes %}
    <!-- Jokes -->
    {% for joke in jokes %}
        {% display_joke joke %}
    {% endfor %}
{% endblock %}

{% block javascript2 %}
    <script type="text/javascript">
        function scale_images() {
            var height = $(".panel-heading").height();
            $(".img-joke-source").css({'height': height}).show();
        }
        $(window).bind('orientationchange', function () {
            scale_images();
        });
        $(document).ready(function () {
            scale_images();
        });
    </script>
    {% load obcy_admin %}
    {% mod_joke_js %}
{% endblock %}