{% extends "multiple.html" %}

{% block head %}
    <title>Najlepsze suchary z internetu</title>
    <meta name="description" content="Automatycznie zbierane najlepsze suchary z wielu źródeł">
{% endblock %}

{% block zajumane %} class="active"{% endblock %}

{% load obcy_extras %}
{% load obcy_admin %}
{% block jokes %}
    <!-- Jokes -->
    {% for joke in jokes %}
        <div id="joke-{{ joke.pk }}" class="panel panel-default">
            <div class="panel-heading">
                <span class="badge"><b>{{ joke.votes }}</b></span>&nbsp;
                <small>
                    <a href="/obcy/{{ joke.key }}" class="hash-link">{{ joke.added }}</a>
                    {% if last_seen and last_seen|lt:joke.added %}
                        &nbsp;<span class="label label-info">Nowy</span>
                    {% endif %}
                </small>

                {% mod_joke joke.pk %}
                <a href="{{ joke.url }}">
                    <span class="pull-right"><img class="img-joke-source"
                                                  src="{{ MEDIA_URL }}images/{{ joke.site }}_small.{{ site_image_extension|lookup:joke.site }}"></span>
                </a>

            </div>

            <div class="panel-body">
                <p>{{ joke.body|linebreaksbr }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascript2 %}
    <script type="text/javascript">
        function scale_images() {
            var height = $(".panel-heading").height();
            $(".img-joke-source").css({'height': height}).show();
        }
        $(window).bind('orientationchange', function (e) {
            scale_images();
        });
        $(document).ready(function () {
            scale_images();
        });
    </script>
    {% mod_joke_js %}
{% endblock %}