{% extends "base.html" %}
{% block extrahead %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "css/one_joke.css" %}" />
	<title>Najlepsze suchary</title>
{% endblock %}



{% block content %}
	<header>
		<div id="title" class="title">
			<h1><a href="{{ site_url }}"><img src="{{ MEDIA_URL }}images/{{ joke.site }}_logo.{{ site_image_extension }}" style="display:inline;vertical-align:middle"></a></h1>
		</div>
	</header>

	<div id="joke" class="joke">
		<div class="joke_header">
			<span id="votes">{{ joke.votes }}</span> {{ joke.date }} <span id="original_link"><a href="{{ joke.url }}">źródło</a></span>
		</div>

		<div class="joke_body">
			<p>{{ joke.body|linebreaksbr }}</p>
		</div>
	</div>
{% endblock %}